<!DOCTYPE html>
<html>
<head>
  <title>FollowMe</title>

  <%# Mapbox css and JS %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:100px; bottom:0; width:100%; }
</style>

</head>
<body>

<%= yield %>

</body>
</html>
